
.box-container-page
{
    width: 78%;
    height: fit-content;
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 4px;
    float: right;
    margin: 15px 1%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
#chart-coolapsible
{
    width: 100%; 
    height:fit-content; 
    padding: 20px;
    margin:auto;
}