<div class="box-container-page">
    <div class="heading-title">
        <h3>Bar chart race</h3>
        <p>This chart animates the value (in $M) of the top global brands from 2000 to 2019. Color indicates sector. See [the explainer](/d/e9e3929cf7c50b45) for more. Data: [Interbrand](https://www.interbrand.com/best-brands/).</p>
    </div>

    <div id="chart-bar-chart-race"></div>

    <div class="container">
        <li *ngFor="let user of userArray">
            {{user | json}}
         </li>
    </div>
</div>
