<div class="wrapper d-flex">
	<div class="sidebar">
		<ul>
			<li><a routerLink="/"><fa-icon [icon]="faHome"></fa-icon>Dashboard</a></li>
			<hr><br>
			<li><a routerLink="/zoomable-sunburst" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>zoomable sunburst</a></li>
			<li><a routerLink="/collapsible-tree" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>collapsible tree</a></li>
			<li><a routerLink="/bar-chart-race" routerLinkActive="active"><fa-icon [icon]="faChartBar"></fa-icon> bar chart race</a></li>
			<li><a routerLink="/world-history-timeline" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>world history timeline</a></li>
			<li><a routerLink="/electric-usage" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>electric usage 2019</a></li>
			<li><a routerLink="/brushable-scatterplot-matrix" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>brushable scatterplot matrix</a></li>
			<li><a routerLink="/the-wealth-health-of-nations" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>the wealth health-of-nations</a></li>
			<li><a routerLink="/parallel-sets" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>parallel sets</a></li>
			<li><a routerLink="/streamgraph-transitions" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>streamgraph transitions</a></li>
			<li><a routerLink="/sankey" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>sankey</a></li>
			<li><a routerLink="/arc-diagram" routerLinkActive="active"><fa-icon [icon]="faDiagramProject" ></fa-icon> arc diagram</a></li>
			<li><a routerLink="/dot-plot" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>dot plot</a></li>
			<li><a routerLink="/world-tour" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>world tour</a></li>
			<li><a routerLink="/scatterplot-tour" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>scatterplot tour</a></li>
			<li><a routerLink="/hierarchical-bar-chart" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>hierarchical bar </a></li>
			<li><a routerLink="/temporal-force-directed-graph" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>temporal force directed graph </a></li>
			<li><a routerLink="/zoomable-circle-packing" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>zoomable circle packing</a></li>
			<li><a routerLink="/zoomable-treemap" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>zoomable treemap</a></li>
			<li><a routerLink="/icelandic-population" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>Icelandic population</a></li>
			<li><a routerLink="/walmarts-growth" routerLinkActive="active"><fa-icon [icon]="faChartLine"></fa-icon>Walmart’s Growth</a></li>
        </ul>
	</div>
</div>
