<div class="box-container-page">
    <div class="heading-title">
        <h3>The Wealth & Health of Nations</h3>
        <p>This is a recreation of a Gapminder visualization made famous by Hans Rosling. It shows per-capita income (x), life expectancy (y) and population (area) of 180 nations over the last 209 years, colored by region. Data prior to 1950 is sparse, so this chart uses bisection and linear interpolation to fill in missing data points.</p>
    </div>

    <div id="chart-wealth-health"></div>
</div>