.box-container-page {
  width: 78%;
  height: fit-content;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 4px;
  float: right;
  margin: 15px 1%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
#chart-world-tour {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 20px 50px;
}
